.container{
  background: rgba(white, 0.85);
  padding: 10px;
  @include border-radius(4px);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
}

.container.iic-roll-container {
  width: 470px;
  margin-top: $top;

  .control-group:last-child {
    margin-bottom: 0;
  }

  form {
    margin: 0;
  }
}

