.logo {
  margin-top: $top;
  left: 100px;
  position: absolute;
  @include animation(balloon 2s ease-in-out alternate infinite);
}

@include keyframes(balloon) {
  $delta: 50px;
  0% { top: 0 }
  100% { top: $delta; }
}